/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  p {
    margin: 10px 0;
  }
  
  /* Navbar */
  .navbar {
    background-color: #47be18;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar li a {
    color: #fff;
    font-size: 18px;
  }
  
  .navbar li a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }
  
  /* Header */
  .header {
    text-align: center;
    background: url('img/red tulip.png') no-repeat center center/cover;
    color: #fff;
    padding: 150px 150px;
    width: 100%;
    height: outo;
    background-position: center;
    background-size: cover;
    object-fit: contain;

  }
  
  .header h1 {
    font-size: 36px;
    
  }
  
  .header p {
    font-size: 18px;
  }
  
  /* About Content */
  .about-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-section {
    margin-bottom: 30px;
  }
  
  .about-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #4CAF50;
  }
  
  .about-section p {
    font-size: 16px;
    color: #333;
  }
  
  .about-section ul {
    padding-left: 20px;
  }
  
  .about-section li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  /* Footer */
  .footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }